Django>=5.0,<6.2
Pillow>=10.0
django-allauth>=65.0
django-cloudinary-storage>=0.3
cloudinary>=1.36
python-dotenv>=1.0
whitenoise>=6.5
gunicorn>=22.0
psycopg2-binary>=2.9
dj-database-url>=2.1
PyJWT>=2.8
cryptography>=42.0
requests>=2.31
